#slidearea{
	height: 230px; 
	overflow: hidden;
	margin:15px 0px 10px 0px;
	position: relative; 
	width:998px;
	float:left;
	background: url(images/slide.png);
	border:1px solid #503728;
}
#gallerycover{
	overflow: hidden;
	margin:0px 50px 0px 50px;
	width:900px;
	
}

.mygallery{
	overflow: hidden;
	position:relative;

}

.mygallery ul{
	list-style:none
}

.mygallery ul li{
	list-style:none
}

.mytext img{
	float:left;
}

.mytext{
	position:relative;
	margin:30px 10px 20px 15px;
	width:270px;
	height: 170px;
	display:inline;
	float:left;
	color:#c4c4c4;
	background:url(images/panel.png);
	border:1px solid #573c2b;
}

.inpost{
	position:absolute;
	top:0px;
	left:0px;
	width:250px;
	background:url(images/trans.png);
}

.mytext h2 {
	padding:5px 0px;
	color:#000;
	font-size: 14px ;
	width:170px;
	font-weight:bold;
}

.mytext h2 a:link,.mytext h2 a:visited{
	color:#000;
}

.mytext p{
	padding:0px 0px;
	color:#555;
	font-size: 12px ;
	line-height:20px;
	width:170px;
	text-shadow:1px 1px 0px #f6f6f6;
}

.prevb{
float:left;
	width:41px;
	height:62px;
	z-index:200;
	background:url(images/prev.png);
	position:absolute;
	left:5px;
	bottom:90px;
	}
	
.nextb{
    float:right;
	width:41px;
	height:62px;
	z-index:200;
	background:url(images/next.png);
	position:absolute;
	right:5px;
	bottom:90px;
	display:block;
	}

.twitter{
	margin:5px 5px 15px 5px;
		}
		
p.twitter-message{
	color:#7d5b46;
	border-bottom:1px solid #3a291f;
	padding:10px 10px;
	width:280px;
	}
	
a.twitter-link{
	color:#9F2D27;
	}
	
a.twitter-user{
	color:#9F2D27;
	}


img.sidim{
width:250px;
height:150px;
margin-top:10px;
margin-left:10px;

}

img.thumbim{
	width:80px;
	height:60px;
	float:left;
	margin-right:10px;
	margin-left:10px;
}

